@tailwind base;
@tailwind components;
@tailwind utilities;



body {
   /* background-color: rgba(201, 220, 238, 0.491); */
   background-color: rgb(9, 4, 29);
}

.pink__gradient{
   background: linear-gradient(90deg, #f4c4f3, 0%, #fc67fa 100%);
   filter: blur(900px);
}